<form id="form" class="" action="index.html" method="post">
    <input type="text" name="" value="title">
    <input type="text" name="" value="body">
    <button id="btn" class="button" type="submit" name="button" value="button" placeholder="button">Button</button>
</form>
